* {
    margin: 0;
    padding: 0;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
}

.showcase video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.title {
    font-family: sans-serif;
    text-align: center;
    margin-top: 150px;
    font-size: 160px;
    font-weight: 800;
    color: transparent;
    background-image: url(images/showcase.gif);
    background-position: center;
    -webkit-background-clip: text;
}