body {
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    height: 50px;
    background-color: #f3d6d6;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #353535;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline-block;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    text-decoration: none;
}

.menu li a:hover {
    color: #e18989;
    transition: all .3s;
}